<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    
    <form action="/Login" method="POST">
      <input type="email" placeholder="Email Address" name="email">
      <input type="password" placeholder="Password" name="Password">
      <button type="submit">Login</button>
    </form>
  </body>
</html>
